#tuanvq_booking_table {
  border-collapse: collapse;
  width: 100%;
}

#tuanvq_booking_table td, #tuanvq_booking_table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tuanvq_booking_table tr:hover {background-color: rgb(232, 232, 232);}
#tuanvq_booking_table tr td:first-child {min-width: 220px;}
#tuanvq_booking_table tr td:last-child {text-align: justify;}